<div class="jumbotron text-center">
	<h2>Our Mission</h2>


<div class="row" style="margin-top:30px;">
  <div class="col-md-6"><img src="imgs/blee1.jpg" alt="Smiley face" height="420" width="420">
</div>
  <div class="col-md-6">
	
	<p>{{ tagline }}</p>
	<p>Peter Cooper once said:
“Education should be as free as air and water.” But education is not the only thing that we, as educated college students, can provide to the society. By promoting interactions between high school students and college students, we hope to close the vast gap between college and high school, thereby letting high school students to have smoother transition from one stage of their lives to another.</p>
	</div>
</div>
</div>