<div class="jumbotron text-center">
	<h2>Our Mission</h2>


<div class="row" style="margin-top:30px;">
  <div class="col-md-6"><img src="imgs/cooper_fond_building.jpg" alt="Smiley face" height="332" width="500">
</div>
  <div class="col-md-6">
	
	<p>{{ tagline }}</p>
	<p align="justify">

The Cooper Union for the Advancement of Science and Art was built on a radical new model of 

American higher education based on founder Peter Cooper’s F fundamental belief that education 

should be accessible to those who qualify, independent of their race, religion, sex, wealth or 

social status and should be open and free to all.

Peter Cooper was a creative inventor, successful entrepreneur, and one of America’s richest 

businessmen during the first term of the Washington administration. However, as a young man, 

he received no formal schooling. Cooper’s dream was to give talented young people the 

one privilege he lacked: a good education. He wanted to share his good fortune by helping others 

to develop their gifts and talents, and to improve society as a whole. 

The vehicle he chose was The Cooper Union for the Advancement of Science and Art, which he 

founded in 1859. The Cooper Union remained a tuition-free school for more than 150 years. 

Through Cooper Union, higher education was equally available, which was only limited to 

young men of the upper class up to mid-19th Century. 

Peter Cooper’s vision rested especially on the future of the Cooper Institute. He repeatedly 

emphasized his desire that the work of the institution might go on steadily in the years to come. 

We, as Cooper Union students, believe that Peter Cooper’s vision is not just limited to the 

institution itself. Peter Cooper wished that the successive generations of students continue the 

mission of school. We honor the founder’s will and desire to continue his will by being active 

citizens and teaching high school students high school students in preparation for their undergraduate 

studies.</p>
	</div>
</div>
</div>