<div class="jumbotron text-center">
	<h2>Nice little Blog</h2>

	<p>{{ tagline }}</p>

<!--  -->
<div class="row">
  <div class="col-md-6" style="margin-top:30px;">

        <div style="margin-top:30px;" ng-repeat="nerd in nerds | reverse">
        <p>Title: {{nerd.name}}</p>
        <p>Content: {{nerd.note}}</p>
        <p>-------------------------------------</p>

      </div>

  </div>


  <div class="col-md-6" style="margin-top:30px;">
  <form ng-submit="createNerd()">
        <h3>Add a blog entry</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="title"
            ng-model="name"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="content"
          ng-model="note"></input>
        </div>
        <button type="submit" class="btn btn-primary">create</button>
      </form>

<p style="margin-top:30px;">Search: <input ng-model="searchText"></p>



        <div style="margin-top:30px;" ng-repeat="nerd in nerds | filter:searchText", ng-show="searchText">
        <p>Result Title: {{nerd.name}}</p>
        <p>Result Content: {{nerd.note}}</p>
        <p>===============================</p>

      </div>


  </div>
</div>

</div>