<div class="jumbotron text-center">
	<h1>Nerds and Proud</h1>

	<p>{{ tagline }}</p>
<!-- <p>{{ nerds }}</p> -->

      <div ng-repeat="nerd in nerds">
        <p>{{nerd.name}}</p>
		<p>{{nerd.note}}</p>


      </div>

      <form ng-submit="createNerd()"
        style="margin-top:30px;">
        <h3>Add a new nerd</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="name"
            ng-model="name"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="note"
          ng-model="note"></input>
        </div>
        <button type="submit" class="btn btn-primary">create</button>
      </form>

</div>